:root {
    --primary-color: #C0C0C0;
    --primary-color--dark: #808080;
    --alarm-color: #F80000;
    --black: #000;
    --modal-background: rgba(0,0,0,0.6);
    --white: #FFF;

    --info-one-color: #0200FC;
    --info-two-color: #017E00;
    --info-three-color: #FF0000;
    --info-four-color: #010080;
    --info-five-color: #7F0300;
    --info-six-color: #008080;
    --info-seven-color: #000000;
    --info-eight-color: #808080;

    --cell-size: 4rem;
    --game-padding: 1.5rem;
    --border-width: .3rem;
    --cells-in-row: 8;

    --game-max-width: calc(var(--cell-size) * var(--cells-in-row) + calc(2*var(--game-padding)) + calc(2* var(--border-width)));
}

@font-face {
    font-family: DIGITALDREAM;
    src: url("../assets/DIGITALDREAM.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
}

.game {
    background-color: var(--primary-color);
    padding: var(--game-padding);
    max-width: var(--game-max-width);
    margin-left: auto;
    margin-right: auto;
}

.game__board {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.header__counter {
    background-color: var(--black);
    color: var(--alarm-color);
    padding: .5rem;
    font-family: 'DIGITALDREAM', sans-serif;
    font-size: 3.2rem;
    min-width: 9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__button {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
}

.header__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: var(--primary-color);
}

.panel__header {
    text-align: center;
    font-size: 2.6rem;
}

.panel__buttons {
    display: flex;
}

.button {
    flex: 1;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    cursor: pointer;
    font-size: 2.4rem;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-background);
}

.modal__content {
    padding: 10px;
    min-width: 50vw;
    min-height: 50vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.modal__text {
    font-size: 4.8rem;
    text-align: center;
    padding: 10px 20px;
}

.modal__button {
    cursor: pointer;
    background-color: transparent;
    color: var(--black);
    border: .3rem solid var(--black);
    padding: 1rem 2rem;
    font-size: 2.4rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s, color .2s;
    border-radius: 5px;
}

.modal__button:hover {
    background-color: var(--black);
    color: var(--white);
}

.hide {
    visibility: hidden;
}

.border {
    border: var(--border-width) solid;
}

.border--convex {
    border-color:
    var(--primary-color--dark)
    var(--white)
    var(--white)
    var(--primary-color--dark)
}

.border--concave {
    border-color:
    var(--white)
    var(--primary-color--dark)
    var(--primary-color--dark)
    var(--white)
}

.border--revealed {
    border-color: var(--primary-color--dark);
    border-width: .1rem;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
    background-size: 2rem;
    background-position:  center;
    background-repeat: no-repeat;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cell-info-1 {
    color: var(--info-one-color);
}

.cell-info-2{
    color: var(--info-two-color);
}

.cell-info-3 {
    color: var(--info-three-color);
}

.cell-info-4 {
    color: var(--info-four-color);
}

.cell-info-5 {
    color: var(--info-five-color);
}

.cell-info-6 {
    color: var(--info-six-color);
}

.cell-info-7 {
    color: var(--info-seven-color);
}

.cell-info-8 {
    color: var(--info-eight-color);
}

.cell--is-flag {
    background-image: url("../assets/flag.svg");
}

.cell--is-mine {
    background-image: url("../assets/bomb.svg");
    background-color: var(--alarm-color);
}

.playerForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-background);
}

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.close-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.close-button-wrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button button {
    padding: 10px 25px;
    cursor: pointer;
}

.submit-button button:hover {
    background-color: var(--primary-color--dark);
}

.form {
    display: flex;
    flex-direction: column;
}

.error {
    border-color: #F80000;
}

.form-info {
    color: #F80000;
    font-size: 16px;
}

.label {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.label label {
    font-size: 20px;
}

.label input {
    font-size: 24px;
}

